# TFM. Llamadas Call Center
## MVP

## Importacion de librerias

In [1]:
import pandas as pd
pd.options.display.max_columns = None

### Importacion de los datos de llamadas por oficinas

In [2]:
df_calls = pd.read_csv('data/new_calls.csv', low_memory=False)

In [3]:
df_calls.columns

Index(['Unnamed: 0', 'IDCAMPANYA', 'IDSUJETO', 'VALOR', 'DATACREACIO'], dtype='object')

In [4]:
df_calls = df_calls[['IDCAMPANYA','VALOR','DATACREACIO']]
df_calls.head()

   IDCAMPANYA             VALOR          DATACREACIO
0   100000021   No tiene Numero  2019-01-02 08:06:49
1   100000022          Recogida  2019-01-02 08:08:18
2   100000015  Estado de Pedido  2019-01-02 08:09:06
3   100000015          Recogida  2019-01-02 08:13:47
4   100000015   No tiene Numero  2019-01-02 08:15:15

In [5]:
df_calls['tCreacion'] = pd.to_datetime(df_calls['DATACREACIO'])

df_calls['Date'] = df_calls['tCreacion'].dt.date
df_calls['Date'] = df_calls['Date'].astype('str')

df_calls['dateCreacion'] = df_calls['tCreacion'].dt.date
df_calls['dateCreacion'] = df_calls['dateCreacion'].astype('str')

In [6]:
df_calls.head()

,IDCAMPANYA,VALOR,DATACREACIO,tCreacion,Date,dateCreacion
0,100000021,No tiene Numero,2019-01-02 08:06:49,2019-01-02 08:06:49,2019-01-02,2019-01-02
1,100000022,Recogida,2019-01-02 08:08:18,2019-01-02 08:08:18,2019-01-02,2019-01-02
2,100000015,Estado de Pedido,2019-01-02 08:09:06,2019-01-02 08:09:06,2019-01-02,2019-01-02
3,100000015,Recogida,2019-01-02 08:13:47,2019-01-02 08:13:47,2019-01-02,2019-01-02
4,100000015,No tiene Numero,2019-01-02 08:15:15,2019-01-02 08:15:15,2019-01-02,2019-01-02

In [7]:
df_calls = df_calls[['Date','dateCreacion','IDCAMPANYA','VALOR']]

### Filtramos campaña

In [8]:
df_calls = df_calls.groupby(['Date','IDCAMPANYA','VALOR']).count()

In [9]:
df_calls.head()

                                        dateCreacion
Date       IDCAMPANYA VALOR
2019-01-02 100000015  Estado de Pedido            69
                      Informacion                 38
                      No tiene Numero             17
                      Recogida                    43
           100000021  Estado de Pedido            83

In [10]:
df_calls = df_calls.reset_index()

In [11]:
df_calls.head()

         Date  IDCAMPANYA             VALOR  dateCreacion
0  2019-01-02   100000015  Estado de Pedido            69
1  2019-01-02   100000015       Informacion            38
2  2019-01-02   100000015   No tiene Numero            17
3  2019-01-02   100000015          Recogida            43
4  2019-01-02   100000021  Estado de Pedido            83

In [12]:
df = df_calls.head(1)
df['VALOR'].values

array(['Estado de Pedido'], dtype=object)

In [13]:
#df_calls = df_calls[df_calls['IDCAMPANYA'] == 100000015] ### Si filtramos por campaña
df_calls = df_calls[df_calls['VALOR'] == 'Estado de Pedido']
df_calls.head()

          Date  IDCAMPANYA             VALOR  dateCreacion
0   2019-01-02   100000015  Estado de Pedido            69
4   2019-01-02   100000021  Estado de Pedido            83
8   2019-01-02   100000022  Estado de Pedido            28
12  2019-01-02   100000023  Estado de Pedido            25
16  2019-01-02   100000024  Estado de Pedido            15

In [14]:
#df_calls = df_calls[df_calls.dateCreacion > 20]

In [15]:
df_calls = df_calls.groupby('Date').sum()[['dateCreacion']]

In [16]:
df_calls.head()

            dateCreacion
Date
2019-01-02           220
2019-01-03           238
2019-01-04           274
2019-01-07           131
2019-01-08           137

In [17]:
df_calls.to_pickle('./data/df_Call')